@charset "utf-8";
/* CSS Document */
body {
    box-sizing: border-box;
    background: url(/img/bg.jpg);
	font-family: 'Poppins', sans-serif;
    color: #9da1a4;
}

*, :before, :after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
	
	width: 100%;
    border: 0;
    max-width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle;

}

a{

    text-decoration: none;
    color: white;

}

ul{

    list-style: none;

}

.principal, .mid{

    max-width: 100%;
    margin: 0 4.5%;

}

.menu-sidebar, .bton-container{

    display: none;

}

header{

    background: #2E353B;

}

.mid{

    display: flex;
    align-items: center;
    justify-content: space-between;

}

/*header----------------------------------------------------------------------------------*/

header a img{

    padding: 10px;

}

.menu ul{

    display: flex;
    align-items: center;


}

header ul li{

    font-size: 1.2em;
    font-weight: 600;
    margin-left: 15px;

}

.menu-sidebar{

    display: block;
    position: fixed;
    opacity: 0;
    left: -270px;
    transition: left .2s ease, opacity .2s ease;

}

header ul a{

    color: #979B9D;

}

.menu .buscar{

    position: relative;

}

.menu input#search{

    color: white;
    background: rgba(0, 0, 0, .2);
    border: none;
    text-indent: 5px;
    width: 100%;
    border-radius: 20px;
    padding: 5px 15px;
    height: 40px;
    line-height: 40px;

}

::-webkit-search-cancel-button{

    visibility: hidden;

}

.menu .btn-search{

    position: absolute;
    right: 8px;
    top: 5px;
    background-color: transparent;
    color: white;
    padding: 8px 8px;
    border: none;
    cursor: pointer;

}

.menu .login{

    background: rgba(0, 0, 0, .2);
    font-weight: normal;
    padding: 8px 10px;
    cursor: pointer;
    border-radius: 5px;

}

.menu .login a{

    color: white;
    font-size: .75em;
    height: 20px;
    line-height: 20px;

}

.menu .login a::before{

    content: "\f406";
    font-family: 'Font Awesome 5 Free';
    margin-right: 8px;
    font-weight: 900;

}

.menu .facebook a{

    color: white;
    background: #1369A8;
    padding: 10px 13px;
    border-radius: 25px;
    position: relative;

}

.menu .facebook a::after{

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    content: '';
    position: absolute;
    background: white;
    left: 0;
    top: 0;
    right: 0;
    height: 20px;
    opacity: 0.15;

}

.contenido{

    display: flex;
    flex-direction: column;

}

.principal{

    display: flex;
    flex-direction: row;

}

/*Ficha--------------------------------------------------------------------------------------------------------*/

.ficha-container{

    position: relative;
    text-align: left;

}

.ficha-bg{

    position: absolute;
    background-image: url("img/bg.jpg");
    background-size: cover;
    box-shadow: inset 0 0 100px #000;
    width: 100%;
    height: 100%;

}

.ficha-bg::before{

    content: "";
    background: black;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    pointer-events: none;
    top: 0;
    left: 0;

}

.ficha-contenido .titulo{

    padding: 180px;
    position: relative;
    margin: 0 4.5%;
    padding-bottom: 5px ;
    padding-left: 310px;
    color: white;

}

.ficha-contenido .titulo .nombre{

    display: flex;
    align-items: center;
    font-size: 1.5em;
    font-weight: 600;

}

.ficha-contenido .titulo .nombre .tipo{

    font-size: .5em;
    padding: 0px 10px;
    border-radius: 10px;
    background: #01BAF3;
    margin-left: 5px;

}

.ficha-contenido .nombre-jap{

    display: inline-block;
    color: white;
    font-size: .8em;
    background: black;
    border-radius: 10px;
    padding: 0 10px;
    opacity: .5;
    margin: 15px 0;

}

.ficha-contenido .vtstars{

    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 100px 50px;
    right: 0;
    bottom: 0;

}

.ficha-contenido .rating{

    display: flex;
    flex-direction: row;

}

.ficha-contenido .stars{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
    flex-direction: column;
    background: rgba(66,66,66,.9);

}

.ficha-contenido .nvotos{

    color: white;
    font-size: .7em;

}

.ficha-contenido .rating-num{

    font-size: 1.8em;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-weight: 600;
    color: white;
    background: #01BAF3;
    padding: 8px;

}

.ficha-contenido .redes{

    padding: 5px 0;

}

.ficha-contenido .redes span{

    background: white;
    border-radius: 5px;
    padding: 0px 10px;

}

.ficha-contenido .redes a{

    font-size: .8em;

}

.ficha-contenido .redes .facebook{

    border-bottom: 3px solid #0C46A1;

}

.ficha-contenido .redes .facebook a{

    color: #0C46A1;
    font-weight: 600;

}

.ficha-contenido .redes .twitter{

    border-bottom: 3px solid #01B0FE;

}

.ficha-contenido .redes .twitter a{

    color: #01B0FE;
    font-weight: 600;

}

/*Sidebar-------------------------------------------------------------------------------------------*/

.sidebar{

    margin-top: -170px;
    z-index: 9;
    flex: 1 0 290px;
    padding: 20px 10px 10px 0;
    max-width: 100%;

}

.sidebar-container .cover-img{

    background: white;
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;

}

.sidebar-container .cover-img img{

    border-radius: 5px;

}

.estado{

    background: #01BA4C;
    padding: 10px;
    border-radius: 5px;
    box-shadow: inset 0 0 30px 0 rgb(0 0 0 / 15%);
    overflow: hidden;
    font-size: 1.2em;
    position: relative;
    margin-bottom: 10px;

}

.estado::before{

    content: "";
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,0.15) 100%);

}

.fa-tv{

    padding-right: 50px;

}

.estado span{

    color: white;
    font-weight: 600;

}

.contenedor-list{

    padding: 20px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-top: 15px;
    background: white;

}


.titulo-seguidores p span{

    color: #01BAF3;
    padding-left: 5px;

}


.add-follow{

    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

}

.add{

    position: relative;

}

.follow{

    position: relative;

}

.add-follow a{

    flex: 0 0 calc(50% - 2%);
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
    padding: 10px 10px 10px 50px;
    font-size: .75em;
    border-radius: 5px;
    background-color: white;
    color: black;

}

.add-follow span{

    font-weight: 600;

}

.add-follow i::before{

    font-size: 1.2em;
 

}

.add-follow i{

    color: white;
    position: absolute;
    left: 0;
    margin-left: 10px;
    padding: 0 10px;
    height: 35px;
    border-radius: 25px;
    line-height: 35px;

}

.fa-heart{

    background: #FB3446;

}

.fa-check{

    background: #14BAF1;

}

.wait-list{

    display: flex;
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
    background: white;
    margin-bottom: 10px;
    position: relative;
    font-weight: 600;
    border-radius: 5px;

}

.wait-list a{

    color: black;
    flex: 1 0 100%;
    padding: 15px 15px 15px 80px;
    font-size: .75em;

}

.wait-list i{

    color: #FFC006;
    background: white;
    position: absolute;
    bottom: 7.5px;
    left: 0;
    padding: 10px 12px;
    margin-left: 10px;
    border-radius: 25px;
    border: solid #FFC006;

}

.seguidores{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

.titulo-seguidores{

    color: #3b4248;
    font-size: 1em;
    background: white;
    padding: 15px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom: solid 1px #9295979d;

}

.seguidores li{

    flex: 0 0 calc(33.33% - 3%);
    margin-bottom: 10px;

}

.seguidores-contenedor{

    box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);

}

/*Ultimos episodios------------------------------------------------------------------------*/

.lista-episodios-contenedor{

    padding: 25px;

}

.lista-episodios-contenedor .lista-episodios-left h1{

    font-size: 1.2em;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.74);

}

.lista-episodios-contenedor input#search-sort{

    color: rgba(0, 0, 0, 0.74);
    border-radius: 5px;
    border: none;
    box-shadow: inset 0 0 2px #282E33;
    transition: box-shadow .3s;
    padding: 0px 15px;
    height: 30px;
    line-height: 30px;

}

.principal-content{

    margin-top: 20px;
    margin-left: 10px;

}

.sinopsis-container{

    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 20px;

}

.sinopsis-container .descripcion{

    padding: 20px;

}

.sinopsis-header{

    font-size: 1.2em;
    font-weight: 600;
    color: #3b4248;

}

.sinopsis-container ul{

    margin-top: 10px;
    margin-bottom: 15px;

}

.sinopsis-container ul a{

    color: #1EBDF2;
    font-size: .7em;
    font-weight: 600;
    border-radius: 25px;
    padding: 3px 10px;
    background-color: rgba(1,188,242,.1);

}

.sinopsis{

    list-style: 20px;
    font-size: 12px;

}

.prec-sec{

    border-top: solid .8px #3941474b;
    padding: 15px 20px;
    font-size: .75em;

}

.prec-sec a{

    color: #000;
    font-weight: 600;
    padding-right: 5px;

}

.prec-sec a::before{

    content: "\f138";
    font-family: "Font Awesome 5 Free";
    padding-right: 8px;
    color: #01BAF3;
    font-weight: 900;

}

.items {

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.items a{

    display: flex;
    font-size: .75em;
    align-items: center;
    color: black;
    position: relative;

}

.prox span{

    font-size: 1.4em;
    font-weight: 600;

}

.titulo-epi, .prox{

    padding-left: 20px;

}

.items figure{

    width: 110px;
    border-radius: 5px;
    margin: 5% 0;
    height: 60px;

}

.imagen-items{

    width: 100%;
    border-radius: 5px;
    height: 100%;
    object-fit: cover;

}

.titulo-epi{

    display: flex;
    flex-direction: column;

}

.proximo-contain{

    flex-direction: row;

}

.lista-episodios-contenedor{

    background: white;

}

.lista-episodios{

    display: flex;
    justify-content: space-between;

}


.episodios .header{

    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

.ultimos-animes .header h1{

    font-weight: 300;
    font-size: 25px;
    color: #3b4248;

}

.episodios .header span, .agregados .header span{

    color: white;
    position: relative;
    background: #01BCF3;
    font-size: 15px;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    font-weight: 600;
    border-radius: 15px;
    margin-bottom: 15px;

}


.ultimos-animes .header span::before{

    position: absolute;
    content: "";
    top: 100%;
    left: 40%;
    right: 40%;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #01BCF3;

}


.episodios .ultimos-agregados-contenido ul{

    display: flex;
    flex-wrap: wrap;

}

.episodios .items{

    flex: 0 0 calc(25% - 1.5%);
    margin-bottom: 2%;
    margin-left: 1.5%;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 5px;

}

.episodios .imagen-items{

    object-fit: cover;
    border-radius: 5px;
    transform: scale(1);
    transition: .2s;

}

.items .fa-play-circle::before{

    position: absolute;
    top: 6%;
    right: 5%;
    z-index: 5;
    font-size: 1.4em;

}

.episodios .items .text-overlay::before{

    position: absolute;
    top: 60%;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 30%;
    content: "";
    z-index: 2;
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
}

.episodios .items .name{

    position: absolute;
    top: 75%;
    left: 5%;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    z-index: 2;
    font-size: .85em;

}

.episodios .items .cap{

    position: absolute;
    top: 62%;
    left: 5%;
    font-size: .62em;
    font-weight: 600;
    background: #FF7F01;
    z-index: 2;
    padding: 0 8px;
    border-radius: 10px;

}

/*Ultimos animes agregados--------------------------------------------------------------------*/

.agregados .header{

    display: flex;
    margin-top: 10px;

}

.agregados .header h1{

    margin-bottom: 5px ;
    padding-left: 5px;

}

.agregados .right{

    display: flex;
    flex-wrap: wrap;
    flex: 1;
    align-items: flex-start;
    justify-content: space-between;

}

.fa-star{

    color: #FF7F01;
    font-size: .8em;
    border-radius: 25px;
    position: relative;
    
}

.agregados .ultimos-episodios-contenido ul{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.agregados ul .items{

    flex: 0 0 calc(25% - 1.5%);
    margin-bottom: 5%;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    text-align: center;
    position: relative;

}

.agregados .items .imagen{

    border-radius: 5px;
    position: relative;

}

.agregados .items article{

    background: white;
    padding: 5px;
    border-radius: 5px;


}

.agregados .items .fa-play-circle::after{

    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0%;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(1,188,243,.5);

}

.agregados .items .fa-play-circle::before{

    visibility: visible;
    opacity: 0;
    position: absolute;
    text-align: center;
    width: 50px;
    height: 50px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 50px;
    font-weight: 500;
    z-index: 999;
    margin: auto;

}

.agregados .items img{

    object-fit: cover;

}

.agregados .estreno{

    position: absolute;
    top: -5px;
    left: -5px;
    width: 70px;
    height: 70px;
    overflow: hidden;
    z-index: 3;


}

.agregados .estreno span{

    position: absolute;
    top: 20%;
    bottom: auto;
    left: auto;
    right: -7%;
    text-align: center;
    background: #01ae43;
    transform: rotate(-45deg);
    width: 100px;
    padding: 3px 8px;
    font-size: 12px;
    font-weight: 600;


}

.agregados .estreno::before{

    position: absolute;
    top: 75%;
    bottom: 11%;
    left: 0;
    margin: auto;
    width: 5px;
    height: 35px;
    content: "";
    background: #007a2d;
    font-size: 12px;
    z-index: -1;
    font-weight: 600;

}

.agregados .estreno::after{

    position: absolute;
    top: 0%;
    left: 75%;
    right: 25%;
    width: 60px;
    height: 5px;
    content: "";
    background: #007a2d;
    font-size: 12px;
    z-index: -1;
    font-weight: 600;

}

.agregados .tipo{

    position: absolute;
    top: 98%;
    bottom: 10%;
    left: 8px;
    height: 20px;
    line-height: 20px;
    margin: auto;
    background: #FD3347;
    font-weight: 900;
    padding: 0 8px;
    font-size: 12px;
    border-radius: 10px;

}

.agregados span.name{

    color: black;
    font-size: .8em;
    font-weight: 600;
    text-align: center;
    align-items: center;

}

/*descripcion*/

.descripcion-contenido{

    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 0px;
    left: 175px;
    background: #3A4349;
    width: 270px;
    height: auto;
    padding: 17px;
    z-index: 99999999;
    border-radius: 5px;
    color: white;

}

.ultimo{

    left: -250px;

}

.descripcion-contenido .desc-name h1{

    margin-bottom: 4px;

}

.descripcion-contenido .desc-name h1{

    font-size: .9em;
    font-weight: 600;

}

.descripcion-contenido .desc-tipo{

    position: unset;
    font-size: .8em;
    font-weight: 600!important;

}

.descripcion-contenido .tipo-cali{

    margin-bottom: 10px;

}

.descripcion-contenido .calificacion::before{

    content: "\f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: orange;
    padding-right: 2px;


}

.descripcion-contenido .calificacion{

    font-size: .85em;
    font-weight: 600;
    padding-left: 8px;

}

.descripcion-contenido .descripcion p{

    margin-bottom: 20px;

}

.descripcion-contenido .descripcion p{

    font-size: 11px;
    line-height: 18px;
    color: #979B9D;
    text-align: left;

}

.descripcion-contenido a{

    align-self: flex-end;
    font-size: .8em;
    font-weight: 600;
    background-color: #01BCF3;
    padding: 4px 10px;
    border-radius: 25px ;

}

/*footer---------------------------------------------------------------------------------------*/

footer{

    background-color: #3B4248;

}

.contenedor-footer{

    display: flex;
    justify-content: space-between;

}

.info{

    padding: 35px;

}

footer p{

    color: #767F83;
    font-size: .75em;
    margin-bottom: 10px;

}

footer p span{

    color: white;

}

footer nav ul{

    display: flex;
    justify-content: center;
    background-color: #282E33;
    border-radius: 25px;

}

footer nav a{

    display: inline-block;
    font-size: .7em;
    font-weight: 600;
    padding: 6px;
    text-align: center;
    
}

footer nav ul a{

    font-size: .7em;
    text-align: center;

}

footer .redes{

    padding: 35px;

}

footer .redes ul{

    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

footer .redes ul li{

    padding: 6px;

}

footer .redes ul li a{

    border-radius: 25px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 2em;

}

footer .fa-facebook{

    background-color: #1369A8;

}

footer .fa-youtube{

    background-color: red;

}

/*querys----------------------------------------------------*/

@media screen and (max-width:1190px) {
    
    .episodios .items{

        flex: 0 0 calc(33.33% - 1.5%);
    
    }

    .agregados ul .items{

        flex: 0 0 calc(33.33% - 1.5%);
    
    }

    .descripcion-contenido{
    
        top: 0px;
        bottom: 0px;
        right: 0px;
        left: -250px;
        
    }

}

@media screen and (max-width:1020px) {

    header .menu{

        display: none;

    }

    /*Sidebar-menu------------------------------------------------*/

    header .bton-container {

        display: inline-block;

    }

    .menu-sidebar ul li{

        margin-left: 0;
    
    }

    .menu-sidebar{

        width: 270px;
        height: 100%;
        z-index: 99999;
        position: fixed;
        top: 0;
        padding: 12px;
        background-color: #394147;

    }

    .menu-sidebar li{

        padding: 10px;

    }

    .bton-container strong{

        font-size: .8em;
        font-weight: 600;
        padding-right: 5px;
        color: white;

    }

    .bton-container .sidebar-check{

        vertical-align: middle;
        width: 20px;
        height: 20px;
        position: relative;

    }

    .sidebar-check[type="checkbox"]:checked::after{
        position: absolute;
        top: 0;
        bottom: 0;
        left: -5px;
        right: 0;
        margin: auto;
        display: block;
        content: "\f00d";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        color: white;
        background: #FB3547;
        padding: 12px;
        width: 40px;
        height: 40px;
        text-align: center;
        border-radius: 25px;
        cursor: pointer;
        
    } 

    .sidebar-check[type="checkbox"]:checked + .menu-sidebar{
        
        opacity: 1;
        left: 0;
        transition: left .2s ease, opacity .2s ease;
        
    }    
    
    .sidebar-check[type="checkbox"]::after{
        position: absolute;
        top: 0;
        bottom: 0;
        left: -5px;
        right: 0;
        margin: auto;
        display: block;
        content: "\f0c9";
        font-family: "Font Awesome 5 Free";
        background: #01BAF3;
        font-weight: 900;
        color: white;
        padding: 12px;
        width: 40px;
        height: 40px;
        text-align: center;
        border-radius: 25px;
        cursor: pointer;
    } 

    .sidebar-check[type="checkbox"]:checked::before{
	
        content: "";
        position: fixed;
        background-color: black;
        opacity: .5;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
        cursor: pointer;
        
    } 
    
    .menu-sidebar .buscar{

        position: relative;
        padding: 12px 0;
    
    }

    .menu-sidebar input#search{

        color: white;
        background: rgba(0, 0, 0, .2);
        border: none;
        text-indent: 5px;
        width: 100%;
        border-radius: 20px;
        padding: 5px 10px;
        height: 40px;
        line-height: 40px;
    
    }
    
    .menu-sidebar input#search::-webkit-search-cancel-button{
    
        visibility: hidden;
    
    }
    
    .menu-sidebar .btn-search{
    
        position: absolute;
        right: 10px;
        top: 18px;
        background-color: transparent;
        color: white;
        padding: 8px 8px;
        border: none;
        cursor: pointer;
    
    }
    
    .menu-sidebar .login{
    
        background: rgba(0, 0, 0, .2);
        font-weight: normal;
        padding: 8px 10px;
        cursor: pointer;
        border-radius: 5px;
    
    }
    
    .menu-sidebar .login a{
    
        color: white;
        font-size: .75em;
        height: 20px;
        line-height: 20px;
    
    }
    
    .menu-sidebar .login a::before{
    
        content: "\f406";
        font-family: 'Font Awesome 5 Free';
        margin-right: 8px;
        font-weight: 900;
    
    }

    .menu-sidebar .facebook {
    
        text-align: center;
    
    }
    
    .menu-sidebar .facebook a{
    
        color: white;
        background: #1369A8;
        padding: 10px 18px;
        margin: auto;
        border-radius: 25px;
        position: relative;
    
    }
    
    .menu-sidebar .facebook a::after{
    
        border-top-left-radius: 22px;
        border-top-right-radius: 22px;
        content: '';
        position: absolute;
        background: white;
        left: 0;
        top: 0;
        right: 0;
        height: 25px;
        opacity: 0.15;
    
    }

    /*ultimos episodios*/

    .episodios .items{

        flex: 0 0 calc(50% - 1.5%);
    
    }

    .episodios .items .name{

        top: 80%;
    
    }
    
    .episodios .items .cap{

        top: 68%;
    
    }

    .agregados ul .items{

        flex: 0 0 calc(50% - 1.5%);
    
    }



}

@media screen and (max-width:766px) {
    
    .contenido{

        flex-direction: column;
    
    }

    .animes-emision .titulo {

        position: relative;
        overflow: hidden;

    }

    .animes-emision .titulo h1{

        justify-content: flex-start;
        margin-right: 0;
        

    }

    .animes-emision .titulo h1::before{

        content: "\f04b";
        color:#FF7F01;
        font-weight:900;
        display: flex;
        align-items: center;
        font-size: 1em;
        font-family: "Font Awesome 5 Free";
        padding-right: 12px;

    }

    .animes-emision .titulo h1::after{

        content: "";
        
    }

    .fa-chevron-down{

        display: inline-block;
        text-align: center;
        align-self: flex-end;
        width: 50px;
        font-size: 1.1em;
        vertical-align: middle;
        margin: auto;
        margin-right: 0;
        color: #D9D8DA;
        transition: color .2s;
        transform: rotate(0);
        transition: transform .2s ease;

    }

    .sidebar .img-followface{

        padding-right: 50%;

    }

    .sidebar{

        flex: 1 0 0px;
        justify-content: flex-start;
        padding: 0;

    }

    .menu-sidebar-emision{

        overflow-y: auto;
        padding: 0;
        display: none;

    }

    .episodios .header{

        margin-top: 10px;

    }
    
    .episodios .items{

        padding-top: 30%;

    }


    .episodios .imagen-items{

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;

    }

    .episodios .items .name{

        top: 85%;

    }    

    .episodios .items .cap{

        top: 75%;

    }

    .rotate-icon{

        transform: rotate(0.5turn);
        color: #01BCF3;
        transition: transform .2s ;

    }

    .down{
        display: block;
        padding: 12px;
        height: 200px;
        transition: height .2s;

    }

      .menu-sidebar-emision::-webkit-scrollbar {
        width: 5.5px;
        height: 30px;
      }
      .menu-sidebar-emision::-webkit-scrollbar-button {
        width: 18px;
        height: 18px;
      }
      .menu-sidebar-emision::-webkit-scrollbar-thumb {
        background: #00bdf3;
        border: 0px none #ffffff;
        border-radius: 50px;
      }

      .menu-sidebar-emision::-webkit-scrollbar-track {
        background: rgba(119, 119, 119, 0.2);
        border: 0px none #ffffff;
        border-radius: 50px;
      }

      .contenedor-footer{

        display: flex;
        flex-direction: column;
        padding: 35px;
    
    }
    .info{

        padding: 0;
        text-align: center;
        justify-content: center;

    }

    footer .redes{

        padding: 0px;
    
    }
    
    footer .redes ul{
    
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 10px;
    
    }
    
    footer .redes ul li{
    
        padding: 6px;
    
    }


}

@media screen and (max-width:469px) {

    .episodios .items{

        flex: 1 0 calc(100% - 1.5%);
        padding-top: 55%;
    
    }

    .agregados ul .items{

        flex: 0 0 calc(80% - 1.5%);
    
    }

}

/*animations--------------------------------------------------------------*/
/*Header*/

header a:hover{

    color: white;
    transition: color .5s;

}

input#search:focus{

    outline: none;
    background-color: #1C2023;
    transition: background-color .8s;

}

header .login:hover{

    background-color: #1C2023;
    transition: background-color .5s;

}

.facebook a:hover{

    filter: opacity(70%);
    transition: filter .5s;

}

/*Sidebar*/

.item a:hover > .leftside > span{

    color: #01BCF3;
    transition: color .3s;

}

.item a:hover > span{

    background-color: #01BCF3;
    transition: background-color .3s;

}

/*Ultimos animes agregados*/

input#search-sort:focus{


    box-shadow: 0 0 5px 0 #01BAF3;
    transition: box-shadow .3s;
    border: none;
    outline: none;

}

/*descripcion*/

.items:hover > .descripcion-contenido{

    visibility: visible;

}

.descripcion-contenido:hover{

    visibility: visible;

}

.descripcion-contenido-onmouse{

    visibility: visible;
    opacity: 1;

}

.ultimos-episodios-contenido .items > a:hover > span.name{

    color: #01BCF3;
    transition: color .3s;

}

@media screen and (max-width:1190px) {
    
    .items:hover > .descripcion-contenido{

        visibility: hidden;
    
    }
    
    .descripcion-contenido:hover{
    
        visibility: hidden;
    
    }

}

.ver-anime:hover{

    transform: scale(1.2);
    transition: transform .1s linear;

}

.ver-anime{

    transform: scale(1);
    transition: transform .1s linear;

}

/*footer*/

footer .info a:hover{

    text-decoration: underline;

}

footer .fa-facebook:hover{

    filter: opacity(0.6);
    transition: filter .3s;

}

footer .fa-youtube:hover{

    filter: opacity(0.6);
    transition: filter .3s;

}
