/*Header*/

header a:hover{

    color: white;
    transition: color .5s;

}

input#search:focus{

    outline: none;
    background-color: #1C2023;
    transition: background-color .8s;

}

header .login:hover{

    background-color: #1C2023;
    transition: background-color .5s;

}

.facebook a:hover{

    filter: opacity(70%);
    transition: filter .5s;

}

/*Sidebar*/

.item a:hover > .leftside > span{

    color: #01BCF3;
    transition: color .3s;

}

.item a:hover > span{

    background-color: #01BCF3;
    transition: background-color .3s;

}


/*Ultimos episodios*/

.episodios .items a:hover > .text-overlay > span > img{

    transform: scale(1.2);
    transition: transform .2s;
    filter:opacity(75%)

}

.episodios .items a:hover > .text-overlay > .fa-play-circle::before{

    transform: translateX(50px);
    transition: transform .4s;

}

/*Ultimos animes agregados*/

.items > a:hover > article > div.fa-play-circle.far.imagen::before, .items > a:hover > article > div.fa-play-circle.far.imagen::after{

    visibility: visible;
    opacity: 1;
 
}

.ultimos-episodios-contenido .items > a:hover > span.name{

    color: #01BCF3;
    transition: color .3s;

}

/*descripcion*/

.items:hover > .descripcion-contenido{

    visibility: visible;

}

.descripcion-contenido:hover{

    visibility: visible;

}

.descripcion-contenido-onmouse{

    visibility: visible;
    opacity: 1;

}

.ultimos-episodios-contenido .items > a:hover > span.name{

    color: #01BCF3;
    transition: color .3s;

}

@media screen and (max-width:1190px) {
    
    .items:hover > .descripcion-contenido{

        visibility: hidden;
    
    }
    
    .descripcion-contenido:hover{
    
        visibility: hidden;
    
    }

}

.ver-anime:hover{

    transform: scale(1.2);
    transition: transform .1s linear;

}

.ver-anime{

    transform: scale(1);
    transition: transform .1s linear;

}

/*footer*/

footer .info a:hover{

    text-decoration: underline;

}

footer .fa-facebook:hover{

    filter: opacity(0.6);
    transition: filter .3s;

}

footer .fa-youtube:hover{

    filter: opacity(0.6);
    transition: filter .3s;

}